.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 2;
    overflow: hidden;
}

.loader marquee {
    opacity: 0.2;
    text-transform: uppercase;
    line-height: 180px;
    margin: 0;
    padding: 0;
    color: #646464;
    font-size: 200px;
    font-family: "Cinzel";
}

.loader .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader .intro h1 {
    font-size: 110px;
    text-transform: uppercase;
    font-weight: 200;
    color: #fff;
    font-family: "Cinzel";
}

.intro-title .letter {
    display: inline-block;
    line-height: 1em;
}