* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Tela de carregamento */
.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 2;
    overflow: hidden;
}

.loader marquee {
    opacity: 0.2;
    text-transform: uppercase;
    line-height: 180px;
    margin: 0;
    padding: 0;
    color: #646464;
    font-size: 200px;
    font-family: "Mak";
}

.loader .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader .intro h1 {
    font-size: 110px;
    text-transform: uppercase;
    font-weight: 200;
    color: #fff;
    font-family: "Mak";
}

.intro-title .letter {
    display: inline-block;
    line-height: 1em;
}

@media (max-width: 900px) {
	.loader .intro h1 {
		font-size: 1.2rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-weight: 200;
		color: #fff;
		font-family: "Mak";
	}

	.loader marquee {
		opacity: 0.2;
		text-transform: uppercase;
		line-height: 180px;
		margin: 0;
		padding: 0;
		color: #2c2c2c;
		font-size: 100px;
		font-family: "Mak";
	}	
}