* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background: #c5c0b2;
	overflow: hidden;
}

body.royal_preloader{background:0 0;visibility:hidden}#royal_preloader{font-size:12px;visibility:visible;position:fixed;top:0;right:0;bottom:0;left:0;height:auto;margin:0;z-index:9999999999}#royal_preloader.royal_preloader_number:before,#royal_preloader.royal_preloader_progress:before{content:'';position:absolute;top:0;right:0;bottom:0;left:0}#royal_preloader.complete{opacity:0;-webkit-transition:opacity .2s linear .5s;-moz-transition:opacity .2s linear .5s;-ms-transition:opacity .2s linear .5s;-o-transition:opacity .2s linear .5s;transition:opacity .2s linear .5s}#royal_preloader.royal_preloader_line{height:2px;bottom:auto}#royal_preloader.royal_preloader_number .royal_preloader_percentage{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:100px;height:100px;border-width:1px;border-style:solid;border-radius:50%;line-height:100px;font-size:20px;text-align:center}#royal_preloader.royal_preloader_number .royal_preloader_percentage>div{position:absolute;top:-2px;right:-2px;bottom:-2px;left:-2px;border:4px solid transparent;border-left-color:#FFF;border-radius:50%;-webkit-animation:rotate .8s linear infinite;-moz-animation:rotate .8s linear infinite;-ms-animation:rotate .8s linear infinite;-o-animation:rotate .8s linear infinite;animation:rotate .8s linear infinite}#royal_preloader.royal_preloader_line .royal_preloader_loader{position:absolute;height:100%;left:0}#royal_preloader.royal_preloader_line .royal_preloader_peg{position:absolute;right:0;height:100%;width:100px;opacity:.5}#royal_preloader.royal_preloader_scale_text .royal_preloader_loader,#royal_preloader.royal_preloader_text .royal_preloader_loader{position:absolute;bottom:0;color:#FFF;top:0;height:30px;line-height:30px;margin:auto;letter-spacing:3px;font-size:16px;white-space:nowrap}#royal_preloader.royal_preloader_text .royal_preloader_loader{left:50%}#royal_preloader.royal_preloader_text .royal_preloader_loader div{position:absolute;top:0;right:0;bottom:0;left:0;background-color:#000;opacity:.7;filter:alpha(opacity=70)}#royal_preloader.royal_preloader_scale_text .royal_preloader_loader{left:50%}#royal_preloader.royal_preloader_scale_text .royal_preloader_loader span{display:inline-block;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)}#royal_preloader.royal_preloader_scale_text .royal_preloader_loader span.loaded{-webkit-animation:scale .2s forwards;-moz-animation:scale .2s forwards;-ms-animation:scale .2s forwards;-o-animation:scale .2s forwards;animation:scale .2s forwards}#royal_preloader.royal_preloader_logo .royal_preloader_loader{position:absolute;left:50%;top:50%;margin:0;overflow:hidden;background-position:50% 50%;background-repeat:no-repeat;background-size:100%;border-radius:5px}#royal_preloader.royal_preloader_logo .royal_preloader_loader div{position:absolute;bottom:0;left:0;right:0;height:100%;opacity:.7;filter:alpha(opacity=70)}#royal_preloader.royal_preloader_logo .royal_preloader_percentage{position:absolute;top:50%;left:50%;height:40px;line-height:40px;margin:0;color:#33B2C5;text-align:center;font-size:12px;font-weight:700}#royal_preloader.royal_preloader_progress .royal_preloader_percentage{position:absolute;top:50%;left:0;right:0;color:#AAA;font-size:14px;text-align:center}#royal_preloader.royal_preloader_progress .royal_preloader_loader{content:'';position:absolute;top:50%;left:0;right:0;width:50%;height:1px;margin:-10px auto auto;background-color:rgba(0,0,0,.1)}#royal_preloader.royal_preloader_progress .royal_preloader_meter{width:0;height:100%;margin:auto;padding:0;background-color:#33B2C5}@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(360deg)}}@-moz-keyframes rotate{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(360deg)}}@-ms-keyframes rotate{0%{-ms-transform:rotate(0)}100%{-ms-transform:rotate(360deg)}}@-o-keyframes rotate{0%{-o-transform:rotate(0)}100%{-o-transform:rotate(360deg)}}@keyframes rotate{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@-webkit-keyframes scale{0%{-webkit-transform:scale(0);opacity:0}50%{-webkit-transform:scale(2);opacity:.5}100%{-webkit-transform:scale(1);opacity:1}}@-moz-keyframes scale{0%{-moz-transform:scale(0);opacity:0}50%{-moz-transform:scale(2);opacity:.5}100%{-moz-transform:scale(1);opacity:1}}@-ms-keyframes scale{0%{-ms-transform:scale(0);opacity:0}50%{-ms-transform:scale(2);opacity:.5}100%{-ms-transform:scale(1);opacity:1}}@-o-keyframes scale{0%{-o-transform:scale(0);opacity:0}50%{-o-transform:scale(2);opacity:0}100%{-o-transform:scale(1);opacity:1}}@keyframes scale{0%{transform:scale(0);opacity:0}50%{transform:scale(2);opacity:.5}100%{transform:scale(1);opacity:1}}

.container-items {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.item {
	position: relative;
	flex-grow: 1;
	font-family: "Mak";
	font-size: 220px;
	transition: all 300ms ease-in-out;
}

.item:hover {
	flex-grow: 2;
	font-size: 400px;
}

h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000;
}

img {
	width: 100%;
}

.container-img-wrap {
	position: absolute;
	top: -60rem;
	left: -80px;
	width: 400px;
	height: 500px;
	overflow: hidden;
	pointer-events: none;
	visibility: hidden;
}

.container-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}

@media (max-width: 900px) {
	.container-items {
		height: 100px;
	}
	.item {
		font-size: 20px;
	}
	.item:hover {
		flex-grow: 1;
		font-size: 20px;
	}
	.container-img-wrap {
		display: none;
	}
	.navbar {
		display: none !important;
	}
}

.site-logo {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	font-family: "Mak";
	font-size: 24px;
	line-height: 100px;
	text-transform: uppercase;
}

.navbar {
	position: fixed;
	width: 100%;
	height: 100px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	line-height: 100px;
}

.site-menu {
	display: flex;
}

.menu-item {
	margin-left: 60px;
}

.header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 20%;
	padding: 40px;
	text-transform: uppercase;
	font-family: "Mak";
	font-size: 40px;
	z-index: 2;
}

.header-left span {
	font-family: Arial, Helvetica, sans-serif;
}

.link {
	margin: 40px 0;
}

.link a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
